= render partial: 'shared/header'

.show-contents
  .show-top
    .show-top-image
      =image_tag "https://demo.a-blogcms.jp/media/001/201902/1c35033abff55e4664a216314d599201.png", class: "show-img"
    .show-top-text
      .show-top-achievement-box
        .achievement-level
        .target-amount
        .collected-amount
        .remaining-period
      .show-top-aid-box
        
  .show-detail


= render partial: 'shared/footer'