// SCSS制作ポリシー
// 優先順位
// ブロック要素の位置に関すること
// ブロック要素の大きさに関すること
// ブロック要素の余白に関すること
// ブロック要素のその他の事項（色など）に関すること
// フォントの大きさに関すること

// headerの変数
$header-line-height: 60px;
$header-right-margin: 0 10px;
$header-color: black;

.header{
  height: 60px;
  padding: 0 15%;
  color: $header-color;

  .left-header{
    float:left;
    display: flex;
    line-height: $header-line-height;

    .logo{
      margin-right: 30px; 
      font-size: 150%;
      font-weight: bold;

      .top-page{
        color: $header-color;
        text-decoration: none;
      }
    }
    .search-field{
      font-size: 75%;
      margin: 0 30px;

      .search-box{
        height: 50%;
        width: 190px;
        margin-right: 15px;
        outline: none;
        border:solid 1px gray;
        border-radius: 5px;
      }
    }
  }

  .right-header{
    float: right;
    display: flex;
    font-size: 90%;
    line-height: $header-line-height;
    

    .like-list{
      margin: $header-right-margin;
    }
    .login{
      margin: $header-right-margin;
    }
    .new-account{
      margin: $header-right-margin;
    }
    .new-project{
      position: relative;
      margin: $header-right-margin;
      cursor: pointer;
      
      .new-select-list{
        position: absolute;
        bottom: -55px;
        display: none;
        width: 210px;
        z-index: 3;

        ul{
          li{
            line-height: 30px;
            background: rgba(1,1,1,0.8);
            margin-bottom: 3px;
            padding-left: 10px;

            .select-btn{
              font-size: 12px;
              color: #FFFFFF;
              text-decoration: none;
            }
          }
        }
      }
      
      .new-btn{
        color: $header-color;
        text-decoration: none;       
      }
    }
    .logout{
      margin: $header-right-margin;

      .signout{
        color: $header-color;
        text-decoration: none;
      }
    }
    .login-user{
      margin: $header-right-margin;

      .edit-btn{
        position: relative;
        display: block;
        height: 100%;

        .user-img{
          position: absolute;
          top: 50%;
          -webkit-transform : translateY(-50%);
          transform : translateY(-50%);
          height: 33px;
          width: 33px;
          text-decoration: none;
        }
      }
    }
  }
}

.contents{
  height: 100%;

  .top-image{
    position: relative;
    height: 550px;
    // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.29);
    // border-bottom: solid 0.5px gray;

    .img{
      position: absolute;
      height: 100%;
      width: 100%;
      // padding: 1%;
      object-fit: cover;

    }
    .top-text{
      position: absolute;
      top: 50%;
      right: 0;
      transform : translateY(-50%);
      content: "";
      padding: 1% 0 1% 8%;
      width: 41%;
      color: #FFFFFF;
      font-size: 125%;
      // font-weight: bold;
      line-height: 38px;
      background: -webkit-linear-gradient(left, rgba(1, 1, 1, 0) 2%, black 15%);
    }
  }

  .main-contents{
    height: 100%;
    width: 1000px;
    margin: 35px auto 0;

    .hot-messages{
      margin-bottom: 4%;
      font-weight: bold;

      .title{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 0 12px;

        .index2index{
          border: 1px solid #989898;
          border-radius: 4px;
          color: #4a4a4a;
          font-size: 12px;
          padding: 9px 12px 8px 15px;
          text-decoration: none;
        }
      }

      .hot-message{
        margin: 0 4%;
        font-weight:normal;
        
        .hot-message-table{
          width: 800px;
          
          tr{

            th{
              padding-bottom: 5px;
              text-align: center;
              font-weight: bold;
            }

            .top-message{
              width: 70%;
              text-align: left;
            }

            .top-like-count{
              width: 15%;
            }

            .top-comment-count{
              width: 15%;
            }

            td{
              font-family: verdana, arial, helvetica, sans-serif;
              // font-size: 13px;
              line-height: 35px;
              padding: 0 10px 7px;
              text-align: center;

              .hot-message-show{
                color: black;
                text-decoration: none;
              }
            }
            .top-message-title{
              text-align: left;
            }
          }
        }
      }
    }

    .hot-projects{
      font-weight: bold;

      .title{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 0 30px;

        .index2index{
          border: 1px solid #989898;
          border-radius: 4px;
          color: #4a4a4a;
          font-size: 12px;
          padding: 9px 12px 8px 15px;
          text-decoration: none;
        }
      }

      .hot-project{

        .hot-project-list{
          display: flex;
          flex-wrap:wrap;
          justify-content: start;

          li{
            width: 230px;
            margin: 0 10px 20px; 

            .article{
              height: 300px;
              border: solid 1px lightgray;
              font-size: 13px;
              font-weight: normal;

              .article-link{
                color: black;
                text-decoration: none;

                .sample{
                  height: 150px;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.footer{
  height: 300px;
  background-color: lightgray;

  .right-footer{
    float: right;

    .footer-contents{
      color: black;
      font-size: 60%;
      margin: 0 10px;
      text-decoration: none;
    }
  }
}